# Python virtual environment
myenv_312/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# OS specific
.DS_Store
.env
ibkr/clientportal.gw/logs/

# Data
output.json
spot_data.json
data/uso/order-book/
futures-data.git/

# Documentation
docs/