> Contract verification is essentially **open-sourcing** your contract code ✏️

Contract verification allows smart contract developers to prove and publish the **source code** of the contracts deployed on-chain ✅ .

You may have come across some of them when browsing the [**Contract tab**](https://etherscan.io/address/0x388c818ca8b9251b393131c08a736a67ccb19297#code) of any contract address on Etherscan.

![](https://docs.etherscan.io/~gitbook/image?url=https%3A%2F%2F1052732906-files.gitbook.io%2F%7E%2Ffiles%2Fv0%2Fb%2Fgitbook-x-prod.appspot.com%2Fo%2Fspaces%252F-McrExXKKJBLJqymbFhO%252Fuploads%252FXmEkvv4dexWjRksxNsHy%252Fimage.png%3Falt%3Dmedia%26token%3D4c5b013e-ce5d-482c-820d-8d902175db2e&width=768&dpr=4&quality=100&sign=da3ec5ba&sv=2)

## [Direct link to heading](https://docs.etherscan.io/contract-verification/whats-contract-verification\#how-do-i-verify-a-contract-ive-deployed)    How do I verify a contract I've deployed ?

If you've deployed your contract using an online tool such as Remix, or OpenZeppelin's Contract Wizard, consider using the [**contract verification**](https://etherscan.io/verifyContract) page.

![](https://docs.etherscan.io/~gitbook/image?url=https%3A%2F%2F1052732906-files.gitbook.io%2F%7E%2Ffiles%2Fv0%2Fb%2Fgitbook-x-prod.appspot.com%2Fo%2Fspaces%252F-McrExXKKJBLJqymbFhO%252Fuploads%252Fbrat2nfeRsuQJfuaSKbK%252Fimage.png%3Falt%3Dmedia%26token%3Dbd8db5e5-9169-46fd-9a61-cc9b81cc9cc9&width=768&dpr=4&quality=100&sign=e7f51b7c&sv=2)

If you've deployed your contract using a development tool such as Hardhat, Foundry, Truffle and so on, consider using [**plugins**](https://docs.etherscan.io/contract-verification/plugins) to automate the verification process.

![](https://docs.etherscan.io/~gitbook/image?url=https%3A%2F%2F1052732906-files.gitbook.io%2F%7E%2Ffiles%2Fv0%2Fb%2Fgitbook-x-prod.appspot.com%2Fo%2Fspaces%252F-McrExXKKJBLJqymbFhO%252Fuploads%252FXqBen99cgSXyfLhzK8i7%252Fimage.png%3Falt%3Dmedia%26token%3D3434718c-294c-464a-b8ca-c49df330f637&width=768&dpr=4&quality=100&sign=e62a14d2&sv=2)

[PreviousIntegrating Google Sheets](https://docs.etherscan.io/tutorials/integrating-google-sheets) [NextMultichain Verification](https://docs.etherscan.io/contract-verification/multichain-verification)

Last updated 11 months ago

This site uses cookies to deliver its service and to analyse traffic. By browsing this site, you accept the [privacy policy](https://policies.gitbook.com/privacy/cookies).

AcceptReject