> Contract verification is essentially **open-sourcing** your contract code ✏️

Contract verification allows smart contract developers to prove and publish the **source code** of the contracts deployed on-chain ✅ .

You may have come across some of them when browsing the [**Contract tab**](https://etherscan.io/address/0x388c818ca8b9251b393131c08a736a67ccb19297#code) of any contract address on Etherscan.

![](https://docs.etherscan.io/~gitbook/image?url=https%3A%2F%2Fcontent.gitbook.com%2Fcontent%2Fsg8e76TOnPYfHTGZoQl0%2Fblobs%2FrrIrv3uyGaXFrLfDa8zi%2Fimage.png&width=768&dpr=4&quality=100&sign=b42d8d98&sv=2)

## [Direct link to heading](https://docs.etherscan.io/etherscan-v2/contract-verification/whats-contract-verification\#how-do-i-verify-a-contract-ive-deployed)    How do I verify a contract I've deployed ?

If you've deployed your contract using an online tool such as Remix, or OpenZeppelin's Contract Wizard, consider using the [**contract verification**](https://etherscan.io/verifyContract) page.

![](https://docs.etherscan.io/~gitbook/image?url=https%3A%2F%2Fcontent.gitbook.com%2Fcontent%2Fsg8e76TOnPYfHTGZoQl0%2Fblobs%2FCjuWETgBTcHaOcgRCDoq%2Fimage.png&width=768&dpr=4&quality=100&sign=b2675381&sv=2)

If you've deployed your contract using a development tool such as Hardhat, Foundry, Truffle and so on, consider using [**plugins**](https://docs.etherscan.io/etherscan-v2/contract-verification/plugins) to automate the verification process.

![](https://docs.etherscan.io/~gitbook/image?url=https%3A%2F%2Fcontent.gitbook.com%2Fcontent%2Fsg8e76TOnPYfHTGZoQl0%2Fblobs%2FXaSEdDYtNArambIsT0Cy%2Fimage.png&width=768&dpr=4&quality=100&sign=ed07add7&sv=2)

Last updated 5 months ago

This site uses cookies to deliver its service and to analyse traffic. By browsing this site, you accept the [privacy policy](https://policies.gitbook.com/privacy/cookies).

AcceptReject